<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2025 Robotics and Intelligent Systems Lab<br />
			  {% comment %}
			  Follow us on twitter <a href="https://twitter.com/asuriselab">@asuriselab </a><br />
			  Check the lab's <a href="https://www.youtube.com/channel/UCyMk67eqiqpzdQWMX-nT0VQ">YouTube channel</a></p>
{% endcomment %}
<a href="https://twitter.com/x?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @x</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCyMk67eqiqpzdQWMX-nT0VQ" data-layout="default" data-count="default"></div>

		   <p>  </p><p>
		</div>
        <div class="col-sm-4">
			<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/fse.png" width="100%" style="">
		</div>
		<div class="col-sm-4">
		  Contact:<br />
			Room 179<br />
		  6075 S. Innovation Way West<br />
			ASU Polytechnic Campus <br />
		  Mesa, AZ, 85212 <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
