---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to the ASU RISE Lab</h1>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
  <div id="socials" class="col-sm-4 >
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <a href="https://twitter.com/x?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @x</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCyMk67eqiqpzdQWMX-nT0VQ" data-layout="default" data-count="default"></div>
<br><a href="https://www.linkedin.com/in/wenlong-zhang-2096752a/" target="_blank"><img width="80" src="{{ site.url }}{{ site.baseurl }}/images/logopic/LI-Logo.png" style=""></a>
<a href="https://scholar.google.com/citations?hl=en&user=S2xHIfoAAAAJ&view_op=list_works&sortby=pubdate" target="_blank"><img width="100" src="{{ site.url }}{{ site.baseurl }}/images/logopic/google-scholar.jpg" style=""></a>
  </div>